
<!-- <div><button (click)="showListOfProject()">Project List</button> -->
<!-- </div> -->

<div>
    <table><tr>
          <th>Sr.No.</th>
          <th>Project Name</th>
          <th>Reason</th>
          <th>Division</th>
          <th>Department</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Location</th>
          <th>Status</th>
          <th>Action</th> </tr>
        <tr *ngFor="let project of projectArray; let i=index;">
         <td>{{i+1}}</td>
         <td>{{project.projectName}}</td>
         <td>{{project.reason}}</td>
         <td>{{project.division}}</td>
         <td>{{project.department}}</td>
         <td>{{project.startDate}}</td>
         <td>{{project.endDate}}</td>
         <td>{{project.location}}</td>
         <td>{{project.status}}</td>
         <td>
          <div class="btn-group">
            <button (click)="changeStatus(project.id,'Running')">Start</button>
            <button (click)="changeStatus(project.id,'Close')">Close</button>
            <button (click)="changeStatus(project.id,'Cancelled')">Cancelled</button>
          </div></td> </tr>
      </table>
</div>
